Repository hs-esslingen-softwaretesting-gruppe-4/studyconnect: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkstyle, spotless-check, maven-compile

.pre-commit-config.yaml:

# Pre-commit hooks configuration for StudyConnect
# Documentation: https://pre-commit.com/

repos:
  # 1. Checkstyle - Java Code Style Linting
  # Validates Java code against the project's Checkstyle rules
  - repo: local
    hooks:
      - id: checkstyle
        name: Checkstyle
        entry: cmd /c 'cd backend && mvn checkstyle:check -DskipTests -q'
        language: system
        files: '\.(java|properties|xml)$'
        pass_filenames: false

  # 2. Spotless - Code Formatting (Google Java Format)
  # Automatically formats Java code and fails if formatting is needed
  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Format Check
        entry: cmd /c 'cd backend && mvn spotless:check -DskipTests -q'
        language: system
        files: '\.java$'
        pass_filenames: false

  # 3. Maven Compile Check
  # Ensures code compiles without errors
  - repo: local
    hooks:
      - id: maven-compile
        name: Maven Compile
        entry: cmd /c 'cd backend && mvn clean compile -DskipTests -q'
        language: system
        files: '\.java$'
        pass_filenames: false
        exclude: '^docs/|^\.github/'

  # 4. Unit Tests (optional - can be slow)
  # Uncomment to run tests before commit
  # - repo: local
  #   hooks:
  #     - id: maven-test
  #       name: Maven Unit Tests
  #       entry: cmd /c 'cd backend && mvn test -q'
  #       language: system
  #       files: '\.java$'
  #       pass_filenames: false

  # 5. YAML Validation
  # Validates YAML files for syntax errors
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        name: YAML Lint
        files: '\.(yaml|yml)$'
        args: [--config-data=relaxed]

  # 6. Standard pre-commit hooks
  # Generic file validation and formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        name: Check JSON
      - id: check-yaml
        name: Check YAML
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: end-of-file-fixer
        name: Fix end of file
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: check-case-conflict
        name: Check for case conflicts

# Global settings
fail_fast: false

fix: Correct spelling errors in documentation and update pre-commit hook configuration
  .pre-commit-config.yaml
  docs/documentation.md
  docs/templates/use_cases/use_case_mid_details.md
Due: none

feat: Add GitHub Actions workflow for building and analyzing with SonarQube
  .github/workflows/build-and-analyze.yml
Due: none

fix: Update build command to use wrapper script and ensure correct working directory
  .github/workflows/build-and-analyze.yml
Due: none

fix: Add missing Javadoc for getUserById method in UserController
  backend/src/main/java/de/softwaretesting/studyconnect/controller/UserController.java
Due: checkstyle, spotless-check, maven-compile

fix: Add Keycloak environment variables to the build and analyze workflow
  .github/workflows/build-and-analyze.yml
Due: none

fix: Update Javadoc for getUserById method in UserController to improve clarity
  .github/workflows/build-and-analyze.yml
  backend/src/main/java/de/softwaretesting/studyconnect/controller/UserController.java
Due: checkstyle, spotless-check, maven-compile

fix: Simplify branch declaration in build-and-analyze workflow
  .github/workflows/build-and-analyze.yml
Due: none

feat: Add CI workflows for building, testing, and packaging the backend application
  .github/workflows/build-and-analyze.yml
  .github/workflows/build-backend-package.yml
  .github/workflows/test-and-analyze-backend.yml
  README.md
  backend/Dockerfile
Due: none

feat: Add workflows for pull request labeling and backend testing, and update Dockerfile for security improvements
  .github/labeler.yml
  .github/workflows/build-backend-package.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/test-backend.yml
  backend/Dockerfile
Due: none

feat: Update pull request labeler configuration and enhance documentation for CI pipeline
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
  docs/documentation.md
Due: none

feat: Add test JWT utility class and enhance security configuration tests; update labeler for test files
  .github/labeler.yml
  .gitignore
  .pre-commit-config.yaml
  backend/src/main/java/de/softwaretesting/studyconnect/controller/TaskController.java
  backend/src/main/java/de/softwaretesting/studyconnect/controller/UserController.java
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/request/UserCreateRequestDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/security/SecurityConfig.java
  backend/src/test/java/de/softwaretesting/studyconnect/security/SecurityConfigTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/utils/JwtTestUtil.java
  docs/assignments/assignment_9.md
Due: checkstyle, spotless-check, maven-compile

feat: Update labeler configuration, enhance backend test workflow, improve user creation logging, and refine password validation
  .github/labeler.yml
  .github/workflows/test-backend.yml
  README.md
  backend/Dockerfile
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/request/UserCreateRequestDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/exceptions/GlobalExceptionHandler.java
  backend/src/main/java/de/softwaretesting/studyconnect/security/SecurityConfig.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/KeycloakService.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/UserService.java
  backend/src/test/java/de/softwaretesting/studyconnect/security/SecurityConfigTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/services/KeycloakAdminTokenServiceTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/steps/AssignTaskSteps.java
Due: checkstyle, spotless-check, maven-compile

fix: Correct workflow name formatting and update pull request trigger in CI configurations
  .github/workflows/build-backend-package.yml
  .github/workflows/pr-labeler.yml
Due: none

feat: Add unit tests for custom exceptions and global exception handler; enhance user service tests for error handling
  README.md
  backend/src/test/java/de/softwaretesting/studyconnect/exceptions/CustomExceptionsTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/exceptions/GlobalExceptionHandlerTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/services/UserServiceTest.java
Due: checkstyle, spotless-check, maven-compile

fix: Update tests badge link in README to reflect correct workflow
  README.md
Due: none

feat: Update security configuration and implement task/user controllers
  .github/workflows/build-backend-package.yml
  backend/pom.xml
  backend/src/main/java/de/softwaretesting/studyconnect/controllers/TaskController.java
  backend/src/main/java/de/softwaretesting/studyconnect/controllers/UserController.java
  backend/src/main/java/de/softwaretesting/studyconnect/security/SecurityConfig.java
  backend/src/main/java/de/softwaretesting/studyconnect/security/SecurityConfigTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/controllers/TaskControllerTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/controllers/UserControllerTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/integrations/SecurityConfigIntegrationTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/security/SecurityConfigTest.java
Due: checkstyle, spotless-check, maven-compile

feat: Exclude integration tests from Maven Surefire plugin configuration
  backend/pom.xml
  docs/documentation.md
Due: checkstyle

feat: Add documentation for automated API test cases and CI integration
  docs/assignments/assignment_10.md
Due: none

refactor: Remove unused imports and unnecessary test class from SecurityConfigTest
  backend/src/test/java/de/softwaretesting/studyconnect/security/SecurityConfigTest.java
Due: checkstyle, spotless-check, maven-compile

feat: Implement KeycloakTokenFetchException and refactor GlobalExceptionHandler for improved error handling
  backend/src/main/java/de/softwaretesting/studyconnect/exceptions/GlobalExceptionHandler.java
  backend/src/main/java/de/softwaretesting/studyconnect/exceptions/KeycloakTokenFetchException.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/KeycloakAdminTokenService.java
  backend/src/test/java/de/softwaretesting/studyconnect/controllers/TaskControllerTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/controllers/UserControllerTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/exceptions/CustomExceptionsTest.java
Due: checkstyle, spotless-check, maven-compile

feat: Update CI documentation and improve Docker image reference in workflow
  .github/workflows/build-backend-package.yml
  docs/assignments/assignment_10.md
  docs/documentation.md
Due: none

feat: Enhance GlobalExceptionHandlerTest with additional validation scenarios and refactor test DTO
  backend/src/test/java/de/softwaretesting/studyconnect/exceptions/GlobalExceptionHandlerTest.java
Due: checkstyle, spotless-check, maven-compile

feat: Update GlobalExceptionHandlerIntegrationTest to reference the correct TestController
  backend/src/test/java/de/softwaretesting/studyconnect/exceptions/GlobalExceptionHandlerTest.java
Due: checkstyle, spotless-check, maven-compile

feat: Implement Group management functionality with controllers, services, and DTOs
  backend/src/main/java/de/softwaretesting/studyconnect/controllers/GroupController.java
  backend/src/main/java/de/softwaretesting/studyconnect/controllers/UserController.java
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/request/CreateGroupRequestDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/request/TaskRequestDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/request/UpdateGroupRequestDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/response/GroupResponseDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/response/KeycloakTokenResponseDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/response/KeycloakUserResponseDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/response/TaskResponseDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/response/UserResponseDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/mappers/request/CreateGroupRequestMapper.java
  backend/src/main/java/de/softwaretesting/studyconnect/mappers/request/UpdateGroupRequestMapper.java
  backend/src/main/java/de/softwaretesting/studyconnect/mappers/response/GroupResponseMapper.java
  backend/src/main/java/de/softwaretesting/studyconnect/models/Group.java
  backend/src/main/java/de/softwaretesting/studyconnect/repositories/GroupRepository.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/GroupService.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/UserService.java
  backend/src/test/java/de/softwaretesting/studyconnect/integrations/TaskIntegrationTest.java
Due: checkstyle, spotless-check, maven-compile

feat: Add invitation code functionality and admin checks in GroupService
  backend/src/main/java/de/softwaretesting/studyconnect/controllers/GroupController.java
  backend/src/main/java/de/softwaretesting/studyconnect/repositories/GroupRepository.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/GroupService.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/UserService.java
  backend/src/test/java/de/softwaretesting/studyconnect/controllers/GroupControllerTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/repositories/GroupRepositoryTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/services/GroupServiceTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/services/UserServiceTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/steps/AssignTaskSteps.java
Due: checkstyle, spotless-check, maven-compile

feat: Refactor updateGroup method in GroupService for improved validation and clarity
  backend/src/main/java/de/softwaretesting/studyconnect/services/GroupService.java
  backend/src/test/java/de/softwaretesting/studyconnect/services/GroupServiceTest.java
Due: checkstyle, spotless-check, maven-compile

feat: Enhance validation messages in CreateGroupRequestDTO and UpdateGroupRequestDTO; refactor user creation error handling in KeycloakService and UserService
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/request/CreateGroupRequestDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/request/UpdateGroupRequestDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/KeycloakService.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/UserService.java
  backend/src/test/java/de/softwaretesting/studyconnect/services/KeycloakServiceTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/services/UserServiceTest.java
Due: checkstyle, spotless-check, maven-compile

feat: Add group member and admin retrieval endpoints; enhance user retrieval methods and DTO mappings
  backend/src/main/java/de/softwaretesting/studyconnect/controllers/GroupController.java
  backend/src/main/java/de/softwaretesting/studyconnect/controllers/UserController.java
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/request/CreateGroupRequestDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/response/GroupResponseDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/dtos/response/KeycloakUserResponseDTO.java
  backend/src/main/java/de/softwaretesting/studyconnect/mappers/request/CreateGroupRequestMapper.java
  backend/src/main/java/de/softwaretesting/studyconnect/mappers/response/GroupResponseMapper.java
  backend/src/main/java/de/softwaretesting/studyconnect/models/Group.java
  backend/src/main/java/de/softwaretesting/studyconnect/repositories/GroupRepository.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/GroupService.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/KeycloakService.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/UserService.java
  backend/src/test/java/de/softwaretesting/studyconnect/controllers/GroupControllerTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/services/GroupServiceTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/services/UserServiceTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/steps/AssignTaskSteps.java
Due: checkstyle, spotless-check, maven-compile

feat: Refactor group member and admin management; enhance user retrieval in UserService
  backend/pom.xml
  backend/src/main/java/de/softwaretesting/studyconnect/mappers/response/UserResponseMapper.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/GroupService.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/UserService.java
Due: checkstyle, spotless-check, maven-compile

feat: Update method documentation for clarity; add new test cases for group member management
  backend/src/main/java/de/softwaretesting/studyconnect/services/GroupService.java
  backend/src/test/java/de/softwaretesting/studyconnect/services/GroupServiceTest.java
Due: checkstyle, spotless-check, maven-compile

feat: Improve endpoint naming and documentation; refactor admin handling in Group model and tests
  backend/src/main/java/de/softwaretesting/studyconnect/controllers/GroupController.java
  backend/src/main/java/de/softwaretesting/studyconnect/mappers/request/CreateGroupRequestMapper.java
  backend/src/main/java/de/softwaretesting/studyconnect/models/Group.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/GroupService.java
  backend/src/main/java/de/softwaretesting/studyconnect/services/UserService.java
  backend/src/test/java/de/softwaretesting/studyconnect/repositories/GroupRepositoryTest.java
Due: checkstyle, spotless-check, maven-compile

feat: initialize Angular application structure with routing, environment configurations, and basic app component
  .pre-commit-config.yaml
  frontend/.editorconfig
  frontend/.gitignore
  frontend/README.md
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/src/app/app.config.ts
  frontend/src/app/app.html
  frontend/src/app/app.routes.ts
  frontend/src/app/app.scss
  frontend/src/app/app.spec.ts
  frontend/src/app/app.ts
  frontend/src/environments/environment.development.ts
  frontend/src/environments/environment.ts
  frontend/src/index.html
  frontend/src/main.ts
  frontend/src/styles.scss
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.spec.json
Due: none

feat: Remove NotAllowedComponent and enhance password validation in RegisterComponent
  frontend/src/app/app.routes.ts
  frontend/src/app/pages/not-allowed.component/not-allowed.component.html
  frontend/src/app/pages/not-allowed.component/not-allowed.component.scss
  frontend/src/app/pages/not-allowed.component/not-allowed.component.spec.ts
  frontend/src/app/pages/not-allowed.component/not-allowed.component.ts
  frontend/src/app/pages/register/register.component.ts
Due: none

feat: Enhance password validation in RegisterComponent to include additional special characters
  backend/src/test/java/de/softwaretesting/studyconnect/services/KeycloakServiceTest.java
  backend/src/test/java/de/softwaretesting/studyconnect/services/UserServiceTest.java
  frontend/src/app/pages/register/register.component.ts
Due: checkstyle, spotless-check, maven-compile

feat: Remove unused clientSecret variable from KeycloakService
  backend/src/main/java/de/softwaretesting/studyconnect/services/KeycloakService.java
Due: checkstyle, spotless-check, maven-compile

feat: Add Keycloak client ID and development client ID to backend workflows
  .github/workflows/test-and-analyze-backend.yml
  .github/workflows/test-backend.yml
Due: none

feat: Add ALLOWED_ORIGIN environment variable to backend workflows
  .github/workflows/test-and-analyze-backend.yml
  .github/workflows/test-backend.yml
Due: none

Refactor UsersService and ToastComponent
  frontend/src/app/api-services/api/api.base.service.ts
  frontend/src/app/api-services/api/api/groups.service.ts
  frontend/src/app/api-services/api/api/tasks.service.ts
  frontend/src/app/api-services/api/api/users.service.ts
  frontend/src/app/components/toast/toast.component.ts
  frontend/src/app/pages/register/register.component.ts
Due: none

fix: Correct typo in Dashboard path and update password validation regex
  frontend/src/app/components/homebar/homebar.component.ts
  frontend/src/app/pages/register/register.component.ts
  frontend/src/app/services/auth.service.ts
Due: none
